.header {
  text-align: center;
}

.middleSection {
  display: flex;
  justify-content: space-evenly;
}

.timer {
  text-align: center;
}

.teamScores {
  text-align: center;
}

.footerSection {
  display: flex;
  justify-content: space-evenly;
}

.teamPlayers {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.scoreType {
  display: flex;
  flex-direction: column;
}

.footerCenter {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  justify-content: space-between;
}

.scoreTypeName {
  width: 150px;
  text-align: center;
}

.scoreType {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}